@font-face {
  font-family: Futura;
  src: url('../public/fonts/FuturaStd-Book.otf');
}

@font-face {
  font-family: Gill Sans;
  src: url('../public/fonts/GillSansStd.otf');
}

@font-face {
  font-family: Gill Sans;
  src: url('../public/fonts/GillSansStd-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: Gill Sans;
  src: url('../public/fonts/GillSansStd-BoldCondensed.otf');
  font-weight: bold;
  font-stretch: condensed;
}

@font-face {
  font-family: Gill Sans;
  src: url('../public/fonts/GillSansStd-Condensed.otf');
  font-stretch: condensed;
}

@font-face {
  font-family: Gill Sans;
  src: url('../public/fonts/GillSansStd-Italic.otf');
  font-style: italic;
}

@font-face {
  font-family: Gill Sans;
  src: url('../public/fonts/GillSansStd-ExtraBold.otf');
  font-weight: bolder;
}

@font-face {
  font-family: Humanist;
  src: url('../public/fonts/Humanist.ttf');
}

@font-face {
  font-family: Humanist;
  src: url('../public/fonts/Humanist-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Humanist;
  src: url('../public/fonts/Humanist-BoldCondensed.ttf');
  font-weight: bold;
  font-stretch: condensed;
}

@font-face {
  font-family: Humanist;
  src: url('../public/fonts/Humanist-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Humanist;
  src: url('../public/fonts/Humanist-Condensed.ttf');
  font-stretch: condensed;
}

@font-face {
  font-family: Humanist;
  src: url('../public/fonts/Humanist-Italic.ttf');
  font-style: italic;
}
